@using ASF.UI.WbSite.Constants.HomeController
@{
    ViewBag.Title = "Unauthorized";
    ViewBag.Description = "Sorry, but the page requires authentication.";
}

<div class="jumbotron text-center">
    <header>
        <h1 class="h1-banner"><span aria-hidden="true" class="fa fa-ban" style="color:#ee2c22"></span> @ViewBag.Title</h1>
    </header>
    <p class="h1-banner">@ViewBag.Description</p>
    <a class="btn btn-primary btn-lg" href="@Url.RouteUrl(HomeControllerRoute.GetIndex)"><span aria-hidden="true" class="fa fa-home"></span> Take me home</a>
</div>